<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- linking fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;700&display=swap" rel="stylesheet"> 
    <!-- styles -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style/master.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/about.css')}}">
    <!-- favicon bug temporary fix -->
    <link rel="shortcut icon" href="#">
    <title>G-Flight - About</title>
</head>
<body>
    <header>
        <nav>
            <span class="logo">
                <img src="{{ url_for('static', filename='media/logo.png')}}" alt="logo">
                <p>G-Flight</p>
            </span>
            <div class="hamburguer">
                <div class="line-1"></div>
                <div class="line-2"></div>
                <div class="line-3"></div>
            </div>
            <ul class="nav-links">
                <li class="nav-link"><a href="/">Home</a></li>
                <li class="nav-link"><a href="#">About</a></li>
                <li class="nav-link"><a href="/">Subscribe</a></li>
            </ul>
        </nav>
    </header>
    <div  class="pages-container">
        <main>
            <div class="about-paragraph">
                <h1>About this service</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat, debitis voluptatum maxime dolore cum incidunt in labore ex minima unde, at voluptate repudiandae, asperiores magni eum. Expedita magnam fugiat cumque officia unde laborum perspiciatis, animi placeat eveniet similique, reprehenderit maiores. Voluptate cum vero, pariatur maxime blanditiis odit! Nihil, vitae veritatis?</p>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloribus necessitatibus consequatur aut incidunt aperiam molestias officia quisquam commodi voluptatum? Illum quibusdam modi tenetur magnam ducimus voluptatibus natus perferendis, fuga unde!</p>    
            </div>
            <div class="background">
                <img class="cloud" src="{{ url_for('static', filename='media/cloud-1.png')}}" alt="cloud-1">
                <img class="cloud" src="{{ url_for('static', filename='media/cloud-2.png')}}" alt="cloud-2">
                <img class="cloud" src="{{ url_for('static', filename='media/cloud-3.png')}}" alt="cloud-3">
                <img class="cloud" src="{{ url_for('static', filename='media/cloud-4.png')}}" alt="cloud-4">
            </div>
        </main>
        <footer>
            <div class="social-medias">
                <a href="mailto:guilhermevmanhaes@gmail.com?subject=Hey, I came from your website!"><img src="{{ url_for('static', filename='media/gmail.png')}}" alt=""></a>
                <a href="https://github.com/guilevieiram"><img src="{{ url_for('static', filename='media/github.png')}}" alt=""></a>
                <a href="https://linkedin.com/in/guilhermevieiram"><img src="{{ url_for('static', filename='media/linkedin.png')}}" alt=""></a>
                <a href="https://wa.me/5531998524668"><img src="{{ url_for('static', filename='media/whatsapp.png')}}" alt=""></a>
                <a href="https://twitter.com/guilevieiram"><img src="{{ url_for('static', filename='media/twitter.png')}}" alt=""></a>
                <a href="https://instagram.com/guilevieiram"><img src="{{ url_for('static', filename='media/instagram.png')}}" alt=""></a>
                <a href="https://www.facebook.com/profile.php?id=100004110576413"><img src="{{ url_for('static', filename='media/facebook.png')}}" alt=""></a>
            </div>
            <p>© Guile Vieira 2021</p>
            <p>Icons made by <a href="https://www.flaticon.com/authors/pixel-perfect" title="Pixel perfect">Pixel perfect</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></p>
        </footer>
    </div>
    
    <!-- sourcing scripts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.3.3/gsap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='javascript/script.js')}}"></script>
    <script src="{{ url_for('static', filename='javascript/about.js')}}"></script>
</body>
</html>